In [47]:
from rdkit import Chem
from rdkit.Chem import AllChem

In [48]:
import pandas as pd

In [49]:
  gnina_poses= Chem.SDMolSupplier('/Users/sybrenvandenbedem/Documents/Stanford Internship/Smina/second100k_out_best_gnina.sdf')

In [50]:
mols = [p for p in gnina_poses if float(p.GetProp('CNNaffinity')) > 5.1]
w = Chem.SDWriter('second100k_out_best_gnina_above5_1.sdf')
for m in mols: w.write(m)

In [64]:
#make a table
mols = [p for p in gnina_poses if float(p.GetProp('CNNaffinity')) > 5.1]
tbl = []
for m in mols:
    tbl.append([m.GetProp('_Name'), m.GetProp('CNNaffinity')])
df = pd.DataFrame(tbl)
df.to_csv('/Users/sybrenvandenbedem/Documents/Stanford Internship/Smina/second100k_out_best_gnina_table')
df.head(60)

            0             1
0   112783884  5.4573001862
1   112783884  5.2627706528
2   112783884  5.2625269890
3   112772484  5.3488259315
4   112772484  5.3000040054
5   112772484  5.4811649323
6   112772484  5.4446349144
7    75278326  5.1957001686
8    73349048  5.1850495338
9    73349048  5.1934747696
10   73349048  5.1505403519
11   73349048  5.2881531715
12   73349048  5.2393350601
13   73349048  5.5767798424
14   73349048  5.1654691696
15   73349048  5.1170835495
16   73349048  5.1923890114
17   73349048  5.2845101357
18   73349048  5.1558332443
19   71741063  5.1909050941
20   71741063  5.3434228897
21   71741063  5.9259047508
22   71741063  5.3717703819
23   71741063  5.5570974350
24   71741063  5.4113817215
25   71741062  5.1850495338
26   71741062  5.1934747696
27   71741062  5.1505403519
28   71741062  5.2881531715
29   71741062  5.2393350601
30   71741062  5.5767798424
31   71741062  5.1654691696
32   71741062  5.1170835495
33   71741062  5.1923890114
34   71741062  5.2845101357
35   71741062  5.1558332443
36   71741061  5.1992959976
37   71741061  5.3831081390
38   71741061  5.6569871902
39   71741061  5.3951134682
40   71741061  5.1198244095
41   71741061  5.3814430237
42   71741061  5.9731793404
43   71741061  5.3314032555
44   71741061  5.3886594772
45   71741061  5.5558080673
46   71741061  5.1770472527
47   60484077  5.8219585419
48   60484077  5.6906938553
49   60484077  5.9153795242
50   60484077  5.6641511917
51   60484077  5.1774969101
52   60484077  5.8984384537
53   60484077  5.9613990784
54   60484077  5.8038473129
55   60484077  5.8086786270
56   60484077  5.9305901527
57   60484077  5.6355862617
58   60484077  5.7049360275
59   60484077  5.7369318008

In [57]:
pd_ = pd.read_csv('second100k_out_best_gnina_table', sep=',')

In [58]:
pd_.drop('Unnamed: 0', axis=1, inplace=True)

In [59]:
pd_.columns = ['CID', 'CNNaffinity']

In [60]:
pd_.groupby('CID').max().reset_index()

         CID  CNNaffinity
0   56417797     5.782461
1   60484077     5.961399
2   71741061     5.973179
3   71741062     5.576780
4   71741063     5.925905
5   73349048     5.576780
6   75278326     5.195700
7  112772484     5.481165
8  112783884     5.457300

In [61]:
grouped_table = pd_.groupby('CID').max().reset_index().sort_values('CNNaffinity', ascending=False)

In [62]:
grouped_table

         CID  CNNaffinity
2   71741061     5.973179
1   60484077     5.961399
4   71741063     5.925905
0   56417797     5.782461
3   71741062     5.576780
5   73349048     5.576780
7  112772484     5.481165
8  112783884     5.457300
6   75278326     5.195700

In [63]:
grouped_table.to_csv('/Users/sybrenvandenbedem/Documents/Stanford Internship/Smina/second100k_out_best_gnina_table_grouped')